body{
    margin: 0;
    padding: 0;
}
.main-container{
    text-align: center;
    margin-top: 50px;
}
.main-container > div{
    padding: 5px;
}
input{
    border-radius: 5px;
}
button{
    border: none;
    width: 50px;
    height:30px;
    border-radius: 10px;
    cursor: pointer;
}